.div-1{
  background-color: hotpink;
  width:200px;
  height:150px;
  /*visibility:hidden;*/
  /*display:none;*/
}

.div-2{
  background-color: violet;
   width:300px;
  height:250px;
  position:relative;
  bottom:100px;
  /*z-index:1;
  float:right;*/
}

.div-3{
   background-color:lightblue;
  width:200px;
  height:200px;
  position:absolute;
  bottom:0px;
  right:50px;
}

.child-div{
width:50px;
  height:50px;
  color:white;
  background-color:orange;
  position:absolute;
  bottom:0px;
}